<h1>Users Index</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email, user_path(user.email) %> -
      <%= link_to "Edit", edit_user_path(user.email) %>
    </li>
  <% end %>
</ul>
<%= link_to "New User", new_user_path %>
<%= link_to 'Back to Inventory', inventories_path %>

