.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.loginBox{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 5px;
    background-color: #d9d9d9;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px black;
}

.loginHeader{
    font-size: 70px;
    text-align: center;
    margin: 0px;
}

.loginSubHeader{
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

.loginButtonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 250px;
    margin-top: 75px;
}

.buttonHeader{
    font-size: 25px;
    text-align: left;
    margin: 0px;
}

.loginButton{
    width: 300px;
    height: 50px;
    padding: 2px;
    font-size: 25px;
    border-radius: 5px;
}

.loginButton:hover{
    cursor: pointer;
}
